@page "/"
@using Shiny
@using Shiny.BluetoothLE

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    [Inject]
    public required IBleManager Ble { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("Requesting access");
            AccessState accessResponse = await Ble.RequestAccessAsync();

            Console.WriteLine($"Access response: {accessResponse}");

            Console.WriteLine("Starting scan");
            Ble.Scan().Subscribe((result) =>
            {
                Console.WriteLine(result.Peripheral.Name);
            });

            Console.WriteLine("Scan started");

            await Task.Delay(1000);
            Console.WriteLine("1 second passed");

            await Task.Delay(1000);
            Console.WriteLine("2 seconds passed");

            await Task.Delay(1000);
            Console.WriteLine("3 seconds passed");

            await Task.Delay(1000);
            Console.WriteLine("4 seconds passed");

            await Task.Delay(1000);
            Console.WriteLine("5 seconds passed");
        }
    }
}